:root {
  --font-heading: "Carter One", system-ui, sans-serif;
  --font-body: "Roboto Slab", serif;

  font-family: var(--font-body);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: var(--font-heading);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #000C36;
}

#root {
  width: 100%;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
