.start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  width: 100%;
}

.popcorn-icon {
  width: 99px;
  height: 108px;
}

.start-container h1 {
  margin-bottom: 1rem;
  font-size: 45px;
}

.start-form {
  display: flex;
  flex-direction: column;
  gap: 23px;
  width: 100%;
  max-width: 325px;
}

input[type="text"] {
  background-color: #3B4877;
  color: #FFF;
  height: 60px;
  padding: 0 0.5em;
  font-size: 18px;
  font-weight: 300;
  border: none;
  border-radius: 0.625rem;
  text-align: center;
}

input[type="text"]::placeholder {
  font-family: var(--font-body);
  font-weight: 300;
  text-align: center;
  color: #000C36;
}

.submit-button {
  background-color: #51E08A;
  color: #000C36;
  height: 71px;
  font-size: 30px;
  font-weight: bold;
  border: none;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #3BC36F;
}